/*#################### DEFAULTS #################################*/
.container > .row:nth-child(2) {
    border-top: 2px solid black;
}

 body div.container div.container-fluid div.row div.col-4 div#table_id_wrapper.dataTables_wrapper.no-footer div#table_id_length.dataTables_length label select {
    padding:0px;
    margin:0px;
    width:32%;
}

footer {
    margin-top: 25px;
  border-top: 2px solid black;
  border-style: dotted;
  border-bottom: none;
  border-left:  none;
  border-right: none;
  /*border-style: dashed;*/
  text-align: center;


}

a {
  text-decoration: none;
  font-size: none;
  color:#AE0029;

}
a:hover {
  color:black;
  background-color: white;
  text-decoration: underline;

}
/*#################### IMAGES ##############################*/


img {
    padding-top: 15px;
    padding-bottom: 10px;
    /*display: inline;*/
    border-radius: 25%;
    height: auto;
    width: 75%;
}

.col-4  img#mymoney{
    padding:0;
    height: auto;
    width: 45%;
}
/*########################## LOGO ####################################*/
p{

    padding:2px;
}
ol{

    text-align: left;
}

ol li{
    padding:10px;
    text-align: left;

}

.logo{
    height: 50px;
    width: 50px;
    padding:2px;
    margin:0px;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1;

    min-height: 100%;
    display: block;
}

}

html {
    color:black;
    font-family: serif, sans-serif;
    /* This way if  the serif font is not supported , the sant-serif will take place */
}

h2{
      margin:0;
    margin-top:10px;
    margin-bottom:10px;
    color:#1B01A7;

}
h1,h3,h4,address{
    color: #FFF0D9;
    font-size: 20px;
}
div.titre_manifestations h2 {
    color:#FFF0D9;
}

h2 span {
    background-color:black;
     border: 2px solid black;
    border-radius: 10px;
    padding:10px;
}


nav,
header,
footer {
    display: block;

}



/*####################### NAVBAR #################################*/

.dropdown-content { /* Le contenu invisible */
    text-align: center;
  display: none;

  position: absolute;
  z-index: 5;

}
 div.dropdown div.dropdown-content a { /* enligne les anchors */
    display: block;
    z-index: 5;
}

.dropdown:hover .dropdown-content { /* le .dropdown:hover est le div que le home contient */
  display: block;
   z-index: 5;
   background-color: #4833B8;
   
}


nav {
    /*border: 1px solid black;*/
    width: 100%;
    margin-right: 5px;
 
    padding-right: :2px;
}

/*nav*/ ul {
text-align: center;
margin-left: 10px;
  
    padding-left: 10px;

}
html body div.container div.row div.col-6 div.leftbox ul li {
  text-align: left;
}
ul#dropdownMenu.topnav{
    margin: 0;
}

ul.topnav li {
    margin:0;
    list-style-type: none;
    float: left;
    padding: 5px;


}
div.boxaddress{
    margin-left: 20px;
-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 300px;
  padding:10px;

    background: #4833B8;
}

/*################## TITRE SYNDICAT ########################*/
div.titre {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 300px;
  padding: 10px 10px;
  overflow: hidden;
  border: none;
  font: normal 24px/1 "Lucida Console", Monaco, monospace;
  color: black;
  text-align: center;
  text-indent: 5px;
  letter-spacing: 8px;
  white-space: pre-wrap;

}

div.titre img#logo{
    height: 100px;
    width:100px;
    padding:0px;
    margin: 0px;
}

.col-6 >ul li a {

    box-shadow:inset 0px -3px 7px 0px #380038;
    background:linear-gradient(to bottom, #4733b8 5%, #4733b8 100%);
    background-color:#4733b8;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;

}
table.dataTable {
    margin:20px auto;
}

.col-6 > ul li a:hover {
    background:white;
    background-color:white;
    color:black;
}

ul.topnav li a {

    box-shadow:inset 0px -3px 7px 0px #380038;
    background:linear-gradient(to bottom, #4733b8 5%, #4733b8 100%);
    background-color:#4733b8;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;

}
 ul.topnav li a:hover {
    background:white;
    background-color:white;
    color:black;
}
}

}



ul.topnav li a:active {
 position:relative;
    top:1px;
}


ul.topnav li.topnav-right {

    float: right;
}

/*########################## SECTION ######################################*/

.container{

    width:100%; 
    margin-right: 10px;
    padding-bottom:3%;
   
}

.row {
    padding-top: 10px;
    padding-bottom: 5px;
   /* padding:0;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 
}

.row::after{
    display: table;
    clear:both;
    content:"";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;
margin: auto;}

.col-4 {width: 33.33%;}

.col-5 {
width: 41.66%;
margin:auto;
}
.col-6 {
    width: 49%;
    margin:auto;
    }
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;
margin:auto;

}
.col-9 {width: 74%;
}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;
margin: auto;}

.col-12 div.leftbox 
{
margin-left: 5px;
margin-right: 5px;
}

.col-4 h1{
    padding:0;
    margin: 0;
border:2px solid black;
    text-align: center;}



/*############################## FIRST ROW #####################*/

/*############################## MAP #####################*/



div.col-6 div.titre_manifestations{
    display: inline-block;
text-align: center;
box-sizing: content-box;
  width: 200px;
  padding:2px;

    background: #4833B8;


}

div.col-6{. /* important pour mettre centrer*/
    display: inline-block;
     text-align: center;
    align-content: center;
  margin: auto;
}
div.col-6 h2 {
    text-align: center;
}

div.col-6 div.mapcontainer img{
    margin: 0;
    padding: 0;
    height: 400px;
    width: 400px;
}




/*##################### IFRAME ################*/
div.iframe-container iframe{
   /* margin-left: 20%;*/
   width: 85%;
   height: 400px;
   padding-bottom: 10px;
}

div#right.col-4 {
    padding:0;  
    margin:0;
   float:right;
   text-align: bottom;
}
div.boxcenter{
     display: inline-block;
    text-align: center;
    align-content: center;
}
div#titre.col-4 {
    text-align: center;
    align-content: center;
}

div#left.col-4 {
       display: inline-block;
    text-align: center;
    align-content: center;
  
}

div#right.col-4 > img#mobileHead{
    height: 100px;
    width: 100px;
    float: right;
    clear:right;
    padding:0;  
    margin:-5px;
    
}
div.leftbox {
text-align: center;
-webkit-box-shadow: 13px 17px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 17px 5px 0px rgba(0,0,0,0.75);
box-shadow: 13px 17px 5px 0px rgba(0,0,0,0.75);
    background-color:white;
    margin: 20px;
}
/*################## SECOND ROW #############################*/

div.leftbox ul li{
padding:10px;
text-align: center;
padding-bottom: 10px;
}

div.leftbox {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5%;
}

/*################## THIRD ROW CONTACT #############################*/

div.contact {
    border:1px solid black;
    text-align: center;

    background-color: white;
    margin:auto;
    -webkit-box-shadow: 13px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 17px 5px 0px rgba(0,0,0,0.75);
}
div.contact address{
    font-family: 
border: 2px solid black;
 color:black;
text-align: center;
 padding: 4px;
 font-size: 18px;
}

div.contact address span {

font-family: "Lucida Console", Monaco, monospace;
font-size: 22px;
}
/*########################### DROP DOWN MENU ###############################*/

ul.topnav li.mobileIcon {
    display: none;
    /* version Desktop*/

}



/*################################# MEDIA QUERY MOBILE STYLE ###################*/

@media screen and (max-width: 900px) {
    html body div.container div.row div#right.col-4 img {
        max-width: 70%;
        max-height: auto;

        margin-top: -40px;
    }

    /* Media pour etre mobile ca change pour */
    ul.topnav li:not(:nth-child(1)) {
        /* ne pas afficher sauf le nth child 1 ( home )*/
        display: none;
    }

    ul.topnav li.mobileIcon {
        display: block;
        /* override le display none */
        float: right;
    }

    ul.topnav.responsive li.mobileIcon {
        /* empeche l'icon de bouge */
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
        /* pour pas que le navbar bouge (peux importe ou il est cliquer)*/
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    header img#mobileHead {
        height: 75px;
        width: 75px;
        float: right;
    }

    header {

        height: 120px !IMPORTANT;
    }
    /*################### COLONNES MEDIA QUERY ##################################*/
    .col-6{
        width: 100%;
        margin:0; /* Tres important! sinon pas de line break */
    }
    .col-4#titre{
        margin:0;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .col-4#left{
        display: inline-block;
      margin-top:10px;
    text-align: center;
        width: 100%;
    }
    div.boxaddress{
        margin-top: 10px;
        text-align: center;
        align-content: center;
        display: inline-block;

    }
    div.boxcenter{
        text-align: center;
        align-content: center;
        display: inline-block;        
    }
    .col-4#right{
       padding-top: 10px;
        display: inline-block;
          text-align: center;
        width: 100%;
    }
    html body div.container div.row div.col-6 div.photo div#contactfemme.row div.contact {
        display: inline-block;
        text-align: center;
        align-content: center;
    }
    /*###########################     ##### IFRAME ##################*/
    div.iframe-container{
        text-align: center;
        align-content: center;

    }
    
    div.iframe-container iframe{
        margin-left: 2%;

    }
  /*  iframe {
        width: 300px;
        height: 300px;

    }*/
   /*#################### CONTACT IMAGE MEDIA ###########################*/ 
    div.contact {
        margin:auto;
    }


}


/*##### ############### HEADER ######################################*/

header {
    margin-right: auto;
    margin-left: auto;
    color: #F2F4D1;
    height: 120px;
    background-color: #727272;
    text-shadow: 10px black;
    /*margin: 0;*/
    padding: 0;
}

header img {

    padding: 0;
    margin: -20px;
    float: right;
    height: 400px;
    width: 400px;
}

header h3 {
    float: right;
    margin: 0;
    padding: 0;
}

header h2 {
    text-align: center;
    margin: 0;
    padding: 0;

}

header address {
    float: left;
}





/* ################################### logo femme 900px ################################# ##################*/
div.col-6 div.photo img {
    width: 80%;
    height: auto;
    border-radius: 1%;
    border:2px solid white;
    padding: 0;
}







@media screen and (max-width: 400px) {

    /* ################################### IMAGE MAP 400px ################################# ##################*/
    div.col-6 div.mapcontainer img{
    margin: auto;
    padding: 0;
    height: 200px;
    width: auto;
}
div.col-6 div.leftbox div.iframe-container iframe{

    height: 200px ;
}

div.titre {
    width: 200px;
    }

/* ################################### ENTETE 400px ################################# ##################*/
    html body div.container div.row div#titre.col-4 div.boxaddress {
        width: 200px;
    }
    html body div.container div.row div#left.col-4 div.boxcenter div.titre img.logo {
        padding:0px;
    }

}







/*########################## TABLE ####################################*/
table {
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 
    10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 
    20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 
    5px 5px 15px 4px rgba(0,0,0,0); 
  box-shadow: 5px 5px 0px 0px #5642BD, 10px 10px 0px 0px #6857C5, 
  15px 15px 0px 0px #A297DB, 5px 5px 15px 4px rgba(0,0,0,0);
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: auto;
/*  padding: 0;*/
  width: 98%;
  table-layout: fixed;
}

table caption {
  font-size: 2.5em;
  margin: .5em 0 .75em;
  border:2px solid black;
}

table tr {

  border: 1px solid black;
  padding: .35em;
}

table th,
table td {
/*  padding: .625em;*/
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {

    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr  {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table th {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  
  table td:last-child {
    border-bottom: 0;
  }
}



/*########################## FORM ####################################*/


input[type=text], select, textarea, input[type=password] {
  width: 60%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
    text-align: right;
  padding:10px;
  display: inline-block;
}

div.submit{
  padding-top:7px; 
    display: inline-block;
    text-align: center;
}
input[type=submit] {
    margin:auto;
    font-size: 16px;
    display: block;
    text-align: center;
  background-color: #3F29B5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
    border-radius:3px;
  background-color: #D500FF;
  color:black;
  font-weight: bold;
}



ul.Revendications li {
    display: block;
    text-decoration: none;
    
    


}
ul.Revendications li a{
    text-decoration: none;
    width: 80%;


}





